<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferhlýp</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest"
          href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>

<body>
{% block header %} {% include "header.html" %} {% endblock header %}

<main class="min-vh-100">
    <div class="container">
        {% block main_content %} {% endblock main_content %}
    </div>
</main>

{% block footer %} {% include "footer.html" %} {% endblock footer %}
</body>

<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
</html>