{% block footer %}
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

        <div class="col mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    &copy; 2019-2024 John Beers
                </li>
                <li class="nav-item mb-2">
                    <span class="fs-6 text-secondary">TEST VERSION</span>
                </li>
            </ul>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3"></div>

        <div class="col mb-3"></div>

        <div class="col mb-3"></div>
    </footer>
</div>
{% endblock footer %}
