{% extends "base.html" %}
{% block main_content %}

<div class="row row-cols-1 row-cols-lg-2 justify-content-between mx-auto">
        <!-- Left Col -->
        <div class="col">
            <!-- Game Area -->
            <div>
                <!-- Letter Row -->
                <div class="d-flex">
                    <div class="square"></div>
                    {% for letter in "ABCDEFG" %}
                    <div class="square">{{letter}}</div>
                    {% endfor %}
                </div>
                <!-- End Letter Row -->
                <!--  Game Board -->
                {% for row in range(0, 7) %}
                <div class="d-flex">
                    <div class="square">{{row+1}}</div>
                    {% for col in range(0, 7) %}
                    <a href="/process/{{row}}/{{col}}">

                            {% if data.active_row == row and data.active_col ==
                            col %}
                            <div class="square bg-primary border border-secondary-subtle">
                        {% else %}
                            <div class="square bg-secondary border border-secondary-subtle">
                            {% endif %}
                                <!--Is the square empty?-->
                            {% if data.board[row][col] != 0 %}

                                <!--Does the token belong to player 1? -->
                            {% if data.board[row][col].player == 1 %}
                                <!--Is it a king? -->
                            {% if data.board[row][col].is_king %}
                                <!--Has 2 HP? -->
                            {% if data.board[row][col].hp == 2 %}

                            {% if data.active_row == row and data.active_col ==
                            col %}
                            <img src="{{ url_for('static', filename='img/dark-king-full.svg') }}"
                                 class="stone">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/dark-king-full.svg') }}"
                                 class="stone">
                            {% endif %}
                            {% else %}
                                <!--Only has 1 HP -->
                            <img src="{{ url_for('static', filename='img/dark-king-half.svg') }}"
                                 class="stone">
                            {% endif %}

                            {% else %}
                                <!--Not a king-->
                                <!--Has 2 HP? -->
                            {% if data.board[row][col].hp == 2 %}
                            <img src="{{ url_for('static', filename='img/dark-full.svg') }}"
                                 class="stone">
                            {% else %}
                                <!--Only has 1 HP -->
                            <img src="{{ url_for('static', filename='img/dark-half.svg') }}"
                                 class="stone">
                            {% endif %}

                            {% endif %}

                            {% else %}
                                <!--Belongs to player 2? -->
                                <!--Is it a king? -->
                            {% if data.board[row][col].is_king %}
                                <!--Has 2 HP? -->
                            {% if data.board[row][col].hp == 2 %}
                            <img src="{{ url_for('static', filename='img/light-king-full.svg') }}"
                                 class="stone">
                            {% else %}
                                <!--Only has 1 HP -->
                            <img src="{{ url_for('static', filename='img/light-king-half.svg') }}"
                                 class="stone">
                            {% endif %}

                            {% else %}
                                <!--Not a king-->
                                <!--Has 2 HP? -->
                            {% if data.board[row][col].hp == 2 %}
                            <img src="{{ url_for('static', filename='img/light-full.svg') }}"
                                 class="stone">
                            {% else %}
                                <!--Only has 1 HP -->
                            <img src="{{ url_for('static', filename='img/light-half.svg') }}"
                                 class="stone">
                            {% endif %}

                            {% endif %}
                            {% endif %}

                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
                <!-- End Game Board -->
            </div>
            <!--End Game Area-->
        </div>

        <!--  Game Messages -->
        <div class="col">
        <p class="fs-4 fw-bold">Player {{ data.active_player }}'s turn</p>
        {% if data.actively_jumping %}
            <p class="fs-3 fw-bold">Player {{ data.active_player }} is jumping</p>
            <a class="btn btn-info" href="/end-turn">End Turn</a>
        {% endif %}
        <!-- Moves -->
        <div class="mt-3 overflow-auto form-control overflow-y-scroll"
             style="height: 24.5rem; max-width: 32rem;">
            <p class="fs-4">Moves:</p>
            {% if data.game_over %}
            <p class="fs-4 text-info fw-bold">GAME OVER</p>
            {% endif %}
            {% for move in data["move_list"]|reverse %}
            <p>
                <span class="text-secondary">{{data.move_list|length - loop.index + 1}}.</span>
                {{move}}
            </p>
            {% endfor %}
        </div>
        <!-- End Moves -->

        </div>
    </div>

{% endblock main_content %}